*{
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    font-size: 40px;
    text-align: center;
    margin-top: 110px;
    margin-right: 520px;
    position: relative;
    background-color: black;
    
  }
  #matrixhh, #whiteRabbit, #knockKnock {
    font-family: 'Source Code Pro', monospace;
    font-size: 40px;
    position: relative;
    background-color: black;
    color: rgba(10, 80, 10, 0.75);
    margin-top: 40px;
    width: max-content;
    
  }
  #matrixhh::before,
  #matrixhh::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  #matrixhh::before{
    background: rgb(0, 0, 0);
    animation: typewriter 4s steps(21) 6s forwards;
  }
  #matrixhh::after{
    width: 0.125em;
    background: white;
    animation: typewriter 4s steps(21) 6s forwards,
    blink 750ms steps(15) infinite;
  }
  #whiteRabbit::before,
  #whiteRabbit::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  #whiteRabbit::before{
    background: rgb(0, 0, 0);
    animation: typewriter 4s steps(23) 11s forwards;
  }
  #whiteRabbit::after{
    width: 0.125em;
    background: white;
    animation: typewriter 4s steps(23) 11s forwards,
    blink 750ms steps(15) infinite;
  }
  #knockKnock::before,
  #knockKnock::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  #knockKnock::before{
    background: rgb(0, 0, 0);
    animation: typewriter 4s steps(17) 15s forwards;
  }
  #knockKnock::after{
    width: 0.125em;
    background: white;
    animation: typewriter 4s steps(17) 15s forwards,
    blink 750ms steps(15) infinite;
  }

  h1::before,
  h1::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  h1::before{
    background: rgb(0, 0, 0);
    animation: typewriter 4s steps(15) 1s forwards;
  }
  h1::after{
    width: 0.125em;
    background: white;
    animation: typewriter 4s steps(15) 1s forwards,
    blink 750ms steps(15) infinite;
  }
  @keyframes typewriter {
    to {left: 100%}
  }
  @keyframes blink {
    to {
        background: transparent;
    }
    
  }
  
  .gradient-text{
    color: rgba(10, 80, 10, 0.75);
  }
  
  body{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 98vw;
    height: 98vh;
    border: 10px solid rgb(240, 235, 194);
    overflow: hidden;
  }
  
.gameContainer{
    width: 90vw;
    height: 70vh;
    position: absolute;
    background-color: rgb(0, 0, 0);
    margin-top: 100px;
    border-radius: 35px;
    display: none;
    border: 2px solid green;
    
}

.containerHead{
    text-align: center;
    font-size: 40px;
    padding-top: 80px;
    font-family: 'Matrix', sans-serif;
    color: green;
}

.answerButtons{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    padding: 20px;
    margin-top: 70px;
    display: none;
    
    
}


.aButtons{
    background-color: rgb(0, 0, 0);
    border: 2px solid green;
    color: rgb(255, 255, 255);
    height: 30px;
    cursor: pointer;
    font-family: 'Matrix', sans-serif;
}
.aButtons:hover{
  background-color: darkslategray;
}


.nextButton{
    width: 90px;
    display: flex;
    align-items: flex-end;
    background-color: black;
    color: white;
    margin: 85px 0 auto auto;
    margin-right: 25px;
    border: 1px solid green;
    font-family: 'Matrix', sans-serif;
    

}
.nextButton:hover{
    background-color: darkslategray;
    cursor: pointer;
    
}

.startButton{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: rgba(10, 80, 10, 0.75);
    border: 1px solid rgba(10, 80, 10, 0.75);
    position: absolute;
    margin-top: 600px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Matrix', sans-serif;
    padding: 20px;
}
.startButton:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(115, 235, 111, 0.5);
}
.scoreCounter{
    position: absolute;
    margin-left: 25px;
    margin-top: 40px;
    display: none;  
    color: green;
}
.restart{
    width: 90px;
    display: flex;
    justify-content:flex-start;
    background-color: black;
    color: white;
    margin-left: 25px;
    margin-top: 80px;
    display: none;
    border: 1px solid green;
}
.restart:hover{
    background-color: brown;
    cursor: pointer;
}
.lightMode{
    display: none;
    position: absolute;
    margin-left: 460px;
    margin-top: 5px;
    background-color: black;
    color: green;
    border: 1px solid green;
    cursor: pointer;
}
.questionCounter{
  display: flex;
  align-items: flex-end;
  margin: 0 0 0 21px;
  margin-top: 40px;
    display: none;  
    color: green;
}
.grey{
    border: 3px solid rgb(115, 223, 209);
    color: white;
    background-color: rgb(0, 0, 0);
}
.white{
    background-color: white;
    border: 3px solid rgb(115, 223, 209)
}
.black{
    color: rgb(0, 0, 0);
}

